---
layout: default
home: true
---

<div id="toc">
    <style>
        body {
            width: 100vw;
            height: 100vh;
            display: flex;
            margin: 0;
            padding: 0;
            justify-content: center;
            overflow: hidden;
            background: #f5f5f7;
        }

        a,
        a:visited,
        a:hover {
            color: #2af;
            text-decoration: underline;
            text-decoration-style: dashed;
            text-decoration-color: #8888;
        }

        #toc {
            max-width: calc(100vw - 40px);
            padding: 5px;
            min-width: 330px;
        }

        ul {
            list-style-type: none;
            margin-left: 20px;
            padding-left: 0;
        }

        li {
            padding: 4px 0;
            padding-left: 5px;
        }

        h3 {
            display: inline-block;
            padding: 0;
            margin: 0;
            font-weight: 500;
        }
    </style>

    <h1 style="text-align:center;"><a href="https://github.com/plutoniumm/Wavelabs" style="color: #000">Wavelabs</a>
    </h1>
    <ul>
        <li>📑 Documents</li>
        <ul>
            {% for doc in site.data.docs %}
            <li>
                <a href="./docs/{{ doc.url }}">
                    {{ doc.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <br />
        <li>🖥️ Presentations</li>
        <ul>
            {% for doc in site.data.ppt %}
            <li>
                <a href="./context/{{ doc.url }}.html">
                    {{ doc.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <br />
    </ul>
</div>