img {
    object-fit: contain;
}

li:not(:last-of-type) {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

img[alt="max"] {
    max-height: 33vh;
}

img[alt="mid"] {
    max-height: 200px;
}

.f div {
    flex: 1;
}

ul {
    font-size: 1.25rem;
}

.f {
    display: flex;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.j-ar {
    justify-content: space-around;
}